@font-face {
  font-family: 'climamap';
  src: url('font/climamap.eot?16768136');
  src: url('font/climamap.eot?16768136#iefix') format('embedded-opentype'),
       url('font/climamap.woff2?16768136') format('woff2'),
       url('font/climamap.woff?16768136') format('woff'),
       url('font/climamap.ttf?16768136') format('truetype'),
       url('font/climamap.svg?16768136#climamap') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'climamap';
    src: url('font/climamap.svg?16768136#climamap') format('svg');
  }
}
*/
 
 [class^="cm-icon-"]:before, [class*=" cm-icon-"]:before {
  font-family: "climamap";
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 .leaflet-container img.leaflet-image-layer {
    max-width: none !important;
    }
.cm-icon-resize-full:before { content: '\e800'; } /* '' */
.cm-icon-resize-small:before { content: '\e801'; } /* '' */
.cm-icon-plus-outline:before { content: '\e802'; } /* '' */
.cm-icon-play-outline:before { content: '\e804'; } /* '' */
.cm-icon-pause-outline:before { content: '\e805'; } /* '' */
.cm-icon-flow-line:before { content: '\e807'; } /* '' */
.cm-icon-pin:before { content: '\e808'; } /* '' */
.cm-icon-fast-fw-outline:before { content: '\e809'; } /* '' */
.cm-icon-rewind-outline:before { content: '\e80a'; } /* '' */
.cm-icon-stop-outline:before { content: '\e80b'; } /* '' */
.cm-icon-right-outline:before { content: '\e80c'; } /* '' */
.cm-icon-left-outline:before { content: '\e80d'; } /* '' */
.cm-icon-pause:before { content: '\e80e'; } /* '' */
.cm-icon-stop:before { content: '\e80f'; } /* '' */
.cm-icon-play:before { content: '\e810'; } /* '' */
.cm-icon-loop:before { content: '\e811'; } /* '' */
.cm-icon-minus-outline:before { content: '\e812'; } /* '' */
.cm-icon-fast-fw:before { content: '\e813'; } /* '' */
.cm-icon-plus-1:before { content: '\e814'; } /* '' */
.cm-icon-minus-1:before { content: '\e815'; } /* '' */
.cm-icon-circle:before { content: '\f111'; } /* '' */

.pin-icon:before { content: '\e808'; }

/* Save position */
.disnone{ display: none; }
.pin-icon{ position: relative; }
.saved-message { 
    background-color:#919187; 
    color: #fff; 
    font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif; 
    position: absolute;
    top: -1px;
    left: 26px;
    line-height: 29px;
    height: 29px;
    color: white;
    padding: 0 10px;
    -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}

/* Full screen stylesheets */
.fullscreen-icon { font-family: climamap; }
.fullscreen-icon:before{ content: '\e800'; }
.fullscreen-icon.exit-fullscreen:before{ content: '\e801'; }

/* one selector per rule as explained here : http://www.sitepoint.com/html5-full-screen-api/ */
.leaflet-container:-webkit-full-screen { width: 100% !important; height: 100% !important; max-height: 100% !important; z-index: 99999; }
.leaflet-container:-ms-fullscreen { width: 100% !important; height: 100% !important; max-height: 100% !important; z-index: 99999; }
.leaflet-container:full-screen { width: 100% !important; height: 100% !important; max-height: 100% !important; z-index: 99999; }
.leaflet-container:fullscreen { width: 100% !important; height: 100% !important; max-height: 100% !important; z-index: 99999; }
.leaflet-pseudo-fullscreen { position: fixed !important; width: 100% !important; max-height: 100% !important; height: 100% !important; top: 0px !important; left: 0px !important; z-index: 99999; }

/* Leaflet draw */

/* ================================================================== */
/* Toolbars
/* ================================================================== */

.leaflet-draw-section {
    position: relative;
}

.leaflet-draw-toolbar {
    margin-top: 12px;
}

.leaflet-draw-toolbar-top {
    margin-top: 0;
}

.leaflet-draw-toolbar-notop a:first-child {
    border-top-right-radius: 0;
}

.leaflet-draw-toolbar-nobottom a:last-child {
    border-bottom-right-radius: 0;
}

.leaflet-draw-toolbar a {
    font-family: climamap;
    padding-top: 2px;
    text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-retina .leaflet-draw-toolbar a {
    font-family: climamap;
    padding-top: 2px;
    text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-draw a {
    display: block;
    text-align: center;
    text-decoration: none;
}

/* ================================================================== */
/* Toolbar actions menu
/* ================================================================== */

.leaflet-draw-actions {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 26px; /* leaflet-draw-toolbar.left + leaflet-draw-toolbar.width */
    top: 0;
    white-space: nowrap;
}

.leaflet-touch .leaflet-draw-actions {
    left: 32px;
}

.leaflet-right .leaflet-draw-actions {
    right:26px;
    left:auto;
}

.leaflet-touch .leaflet-right .leaflet-draw-actions {
    right:32px;
    left:auto;
}

.leaflet-draw-actions li {
    display: inline-block;
}

.leaflet-draw-actions li:first-child a {
    border-left: none;
}

.leaflet-draw-actions li:last-child a {
    -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}

.leaflet-right .leaflet-draw-actions li:last-child a {
    -webkit-border-radius: 0;
            border-radius: 0;
}

.leaflet-right .leaflet-draw-actions li:first-child a {
    -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}

.leaflet-draw-actions a {
    background-color: #919187;
    border-left: 1px solid #AAA;
    color: #FFF;
    font: 11px/19px "Helvetica Neue", Arial, Helvetica, sans-serif;
    line-height: 28px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 28px;
}

.leaflet-touch .leaflet-draw-actions a {
    font-size: 12px;
    line-height: 30px;
    height: 30px;
}

.leaflet-draw-actions-bottom {
    margin-top: 0;
}

.leaflet-draw-section {
   top: 11px !important;
   position: absolute;
}

.leaflet-draw-actions-top a,
.leaflet-draw-actions-bottom a {
    height: 29px;
    line-height: 29px;
    width: inherit;
}

.leaflet-draw-actions a:hover {
    background-color: #A0A098;
}

.leaflet-draw-actions-top.leaflet-draw-actions-bottom a {
    height: 26px;
    line-height: 26px;
}

/* ================================================================== */
/* Draw toolbar
/* ================================================================== */

.leaflet-draw-toolbar .leaflet-draw-draw-polyline:before {
    /*background-position: -2px -2px;*/
    content: '\e807';
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polyline {
    /*background-position: 0 -1px;*/
    content: '\e807';
}

.leaflet-draw-toolbar .leaflet-draw-draw-circle:before {
    /*background-position: -92px -2px;*/
    content: '\f111';
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-circle:before {
    /*background-position: -90px -1px;*/
    content: '\f111'
}

/* ================================================================== */
/* Drawing styles
/* ================================================================== */

.leaflet-mouse-marker {
    background-color: #fff;
    cursor: crosshair;
}

.leaflet-draw-tooltip {
    background: rgb(54, 54, 54);
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    color: #fff;
    /*Tamanho da fonte do rotulo*/
    font: 20px/30px "Helvetica Neue", Arial, Helvetica, sans-serif;
    margin-left: 20px;
    margin-top: -21px;
    padding: 4px 8px;
    position: absolute;
    visibility: hidden;
    white-space: nowrap;
    z-index: 6;
}

.leaflet-draw-tooltip:before {
    border-right: 6px solid black;
    border-right-color: rgba(0, 0, 0, 0.5);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    content: "";
    position: absolute;
    top: 7px;
    left: -7px;
}

.leaflet-error-draw-tooltip {
    background-color: #F2DEDE;
    border: 1px solid #E6B6BD;
    color: #B94A48;
}

.leaflet-error-draw-tooltip:before {
    border-right-color: #E6B6BD;
}

.leaflet-draw-tooltip-single {
    margin-top: -12px
}

.leaflet-draw-tooltip-subtext {
    color: #f8d5e4;
}

.leaflet-draw-guide-dash {
    font-size: 1%;
    opacity: 0.6;
    position: absolute;
    width: 5px;
    height: 5px;
}

.leaflet-fade-anim .leaflet-tile,
.leaflet-fade-anim .leaflet-popup {
    -webkit-transition: none !important;
       -moz-transition: none;
         -o-transition: none;
            transition: none !important;
}

/* ================================================================== */
/* Edit styles
/* ================================================================== */

.leaflet-edit-marker-selected {
    background: rgba(254, 87, 161, 0.1);
    border: 4px dashed rgba(254, 87, 161, 0.6);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    box-sizing: content-box;
}

.leaflet-edit-move {
    cursor: move;
}

.leaflet-edit-resize {
    cursor: pointer;
}

/* ================================================================== */
/* Old IE styles
/* ================================================================== */

.leaflet-oldie .leaflet-draw-toolbar {
    border: 1px solid #999;
}
